body {
	background-color: #3c2937;
	font-family: Arial, Helvetica, sans-serif;
}

.nasalogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 2rem;
}

h1 {
	color: #f7cd96;
	text-align: center;
	padding: 2rem;
	font-size: 2rem;
	font-weight: 600;
}

p {
	color: #f7cd96;
}

input {
	width: 12rem;
	background-color: #c27052;
	border: 2px solid #c27052;
	padding: 3px;
	border-radius: 3px;
}

input[type=date] {
	color: #e6d5c7;
	font-weight: bold;
	padding-left: 2rem;
}

.generate-image {
	width: 12rem;
	background-color: #7e4639;
	border: 2px solid #7e4639;
	color: #e6d5c7;
	font-weight: bold;
	padding: 3px;
	border-radius: 3px;
}

.fav {
	background-color: #1a121e;
	border: 2px solid #1a121e;
	color: #e6d5c7;
	font-weight: bold;
	padding: 3px;
	border-radius: 3px;
}